.menu{
    cursor:pointer;
}
.line{
    width:30px;
    height:5px;
    margin:5px 0;
    background:#000000;
}
.container{
    position:fixed;
    height:100%;
    width:0;
    overflow-x:hidden;
    top:0;
    left:0;
    background:#ff6347;
    padding-top:50px;
    transition:0.5s;
}

.container a{
    display:block;
    font-size:20px;
    text-decoration:none;
    color:#ffffff;
    padding:15px;
}
.container a:hover{
    color:#aeaeae;
}

.container .close{
    top:0;
    right:35px;
    font-size:30px;
    position:absolute;
}
#main{
    transition: margin-left 0.5s;
}