
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.menu{
    text-align: center;
    overflow:hidden;
    width:100%;
    min-width:960px;
    height:auto;
    background:blue;
    display: flex;
    flex-wrap: wrap;
    
}

.menu .content{
    padding:15px;
    font-size:20px;
    width:16.66%;
    color:white;
    height: 100px;
}
.menu .content:hover{
    background:rgb(16, 16, 118);
}

.dropdown{
    width:16.66%;
    height: 100px;
}
.dropbtn{
    padding:40px;
    font-size:20px;
    color:white;
    height:100px;
}

.menu .dropdown:hover{
    background-color: rgb(16, 16, 118);
}
.cont{
    z-index: 1;
    opacity: 0.9;
    position:absolute;
    display: none;
    background:grey;
}

.cont .item{
    display: block;
    font-size: 20px;
    padding: 25px 0 25px 0;
}
.dropdown:hover .cont{
    display:block;
}
.cont .item:hover{
    background: darkcyan;
}









