*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    background:rgb(80, 201, 15);
    width:100%;
    overflow:auto;
}
.container>a{
    float:left;
    text-decoration:none;
    padding:30px;
    font-size:20px;
    color:white;
    transition:0.25s;
}

.container>a:hover{
    background:aliceblue;
    color:rgb(80, 201, 15);
}
a:last-child,a:last-child:hover{
    float:right;
    color:white;
    background:rgb(115, 114, 113);
}
