.menu{
    cursor:pointer;
}

.line{
    width:50px;
    height:10px;
    margin:5px 0;
    background:#000000;
}

.container{
    position:fixed;
    width:0;
    height:100%;
    overflow-x:hidden;
    background:#87cefa;
    padding-top:40px;
    top:0;
    left:0;
    transition:1.5s;
    
}

.container a{
    padding:20px;
    color:#ffffff;
    display:block;
    font-size:20px;
    text-decoration:none;
    transition:0.7s;
}

.container a:hover{
    color:#a5a5a5;
}

.container .close{
    position:absolute;
    top:0;
    right:30px;
    font-size:40px;
}